body {
  margin: 0;
  font-family: -apple-system BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.play-icon {
  border-left: 22px solid #fff;
  border-right: 20px solid transparent;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  position: absolute;
  left: 24px;
}
